* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body,html  {
    height: 100%;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-mid {
    display: flex;
    align-items: center;
}

.fx-bet {justify-content: space-between;}